@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    /* background-color: #EEEEEE; */
}

header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

body {
    background: url('../images/bg5.jpg');
    background-size:cover;
    overflow: auto;
    margin: 0 0 40px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 10px;
    border-top: 1px solid #107483;
    box-shadow: 0px -10px 20px 1px #10748330;
    background-color: #EEEEEE50;
}


.mainlogo {
    width: 96px;
    height: auto;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    margin-top: 5px;
    transition: 0.2s;
    box-shadow: 0px 0px 20px 5px #10748330;
    
}

.mainlogo:hover {
    transform: translateY(20px) translateX(20px) scale(1.5);
}

nav {
    position: absolute;
    top: 96pxpx;
    right: 15px;
    background-color: transparent;
}

.menu {
    display: flex;
    list-style: none;
    background-color: #87ceeb;
    margin-top: -10px;
    padding: 0;
    border-radius: 30px;
    height: 30px;
    box-shadow: 0px 0px 20px 5px #10748330;
    justify-content: space-between;
}

.menu-icon {
    display: none;
}

.menu-item {
    background-color: #87ceeb;
    border: 5px solid #87ceeb;
    border-radius: 30px;
    padding: 0 35px;
    text-transform: capitalize;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #17ceeb;
    border: 5px solid #17ceeb;
    color: white;
}

.menu-item:active {
    background-color: #107483;
    border: 5px solid #107483;
    color: white;
}

.menu-item.current-page {
    background-color: #17ceeb;
    border: 5px solid #17ceeb;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    min-width: 300px;
    flex-wrap: wrap;
}

.travelbox {
    margin: 20px 20px;
    border: 2px solid #00000030;
    height: auto;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #10748350;
    transition: 0.2s;
    backdrop-filter: blur(5px);
    background-color: #EEEEEE80;

}

.travelbox:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 0px #107483;
    cursor: pointer;
}



.travelbox-header {
    text-align: center;
}


.travelbox-content {

    font-size: 14px;
}

.box-img {
    width: 100%;
    height: 100%;
    max-height: 120px;
    transition: 0.2s;
}

.box-img:hover {
    transform: scale(1.7);
}

ul {
    padding-left: 20px;
    list-style-type: circle;
}

.month {
    list-style: none;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.price {
    color: red;
    list-style-type: none;
    text-align: left;
}


.travelbox-footer {
    font-size: 10px;
    text-align: center;
}

.travelbox-footer:hover {
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    border-radius: inherit;
}

.contact {
    width: 60%;
    min-width: 400px;
    border-radius: 15px;
    color: black;
    padding: 10px;
    border: 2px solid #928f8f;
    box-shadow: 0px 0px 20px 10px #10748340;
    font-size: 12px;
    backdrop-filter: blur(2px);
    background-color: #FFFFFF50;
}

form {
    border: 1px solid #10748350;
    padding-top: 10px;
    border-radius: 10px;
    height: 430px;
    backdrop-filter: blur(20px);

}

.formRow {
    padding: 2px 0px;
}

form .formRow label {
    display: flex;
    width: 35%;
    min-width: 160px;
    float: left;
    padding-right: 10px;
    text-align: right;
    font-size: 1.1em;
    height: 20px;
    align-items: center;
    justify-content: flex-end;
}

form .formRow input {
    margin: 5px;
    width: 40%;
    height: 1.5em;
    padding: 0 10px;
    border-radius: 5px;
    color: black;
    background-color: transparent;
    border:0;
    border-radius:0;
    border-bottom: 2px solid black;
}

form .formRow input:hover {
    background-color: #00000010;
    
}

form .formRow textarea {
    height: 5em;
    padding: 5px 10px;
    float: left;
    margin: 5px;
    width: 40%;
    border:0;
    border-radius:0;
    border-bottom: 2px solid black;
    background-color: transparent;
    resize: none;
    margin-bottom: 15px;
}

form .formRow textarea:valid {
    color: black;
}

form .formRow textarea:hover {
    background-color: #00000010;
}

form .formRow #formButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

form .formRow #submitButton {
    margin-top: 30px;
    border-radius: 15px;
    background-color: #87ceeb;
    font-size: 20px;
    cursor: pointer;
}

form .formRow #submitButton:valid {
    border: 0;
}

form .formRow #submitButton:hover {

    background-color: #17ceeb;
}

form .formRow #submitButton:active {

    background-color: #107483;
}

form .formRow #captchaInput {
    width: 40%;
    border-color: black;
}

form .formRow #captchaInput:invalid {
    border-color: black;
}

form .formRow #captchaInput:valid {
    border-color: green;
}

#captchaLabel {
font-size: 0.5rem;
}

form .formRow #captcha {
    color: red;
    font-size: 2rem;
    font-style: italic;
    font-family: "Rubik Pixels";
    cursor: pointer;
    padding-left: 0px;

}

form .formRow #formcheckbox {
    width: 40%;
    height: 25px;
    margin-bottom: 15px;
}

form .formRow #label-IsValidForm {
    width: 100%;
    background-color: transparent;
    text-align: center;
    display: block;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000AA;
    z-index: 9999;
  }
  

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        margin: 0px 0px 20px 30px;
        font-size: 2em;
        cursor: pointer;
        background-color: transparent;
        margin-top: -50px;
        z-index: 10000;
        color: #107483;
        width: 40px;
        text-align: center;
    }

    .menu-icon:hover{
        color: #107483AA;
    }
    
    .mainlogo {
        display: none;
    }
    nav {
        width: 100%;
        z-index: 10000;
        background-color: transparent;
    }
    
    nav .menu .menu-item{
        display: flex;
        border-radius: 0;
        width: 100%;
        height: 25px;
        text-align: center;
    }
    
    .menu {
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px;
        display: none;
        flex-direction: column;
        width: 100%;
    }
    
    .menu-item{
        width: 100%;
    }
    .overlay{
        overflow-y: auto;
    }
    .show{
        display: block;
    }
    /* body {
        overflow: hidden;
    } */
}
    
